.footer-logo{
    background: linear-gradient(rgb(7,2,42), rgb(18, 8, 85));
    padding: 100px 0 100px 0;
    text-align: center;
    i{
        padding: 10px;
        font-size: 30px;
        margin-left: 22px;
        margin-right: 22px;
        background: #dfe6e9;
        border-radius: 23px;
    }
}
.footer-p{
padding: 30px;
color: #687479;
}

